.img-background {
  position: absolute;
  background-image: url("/assets/home/background-trafego.svg");
  background-size: cover;
  z-index: -1;
  height: 130vh;
  width: 100%;
}

.section-trafego {
  display: flex;
  padding: 7rem 5rem 0;

  position: relative;
  height: 850px;

  &__description {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 60%;

    h1 {
      @include title();
    }

    h3 {
      font-size: $font-size-h3;
      color: $white-color;
      font-weight: 400;
    }

    p {
      width: 70%;
      color: $white-color;
      font-size: 1.5rem;
      font-weight: 400;
    }

    .btn-vamos-comecar {
      @include button();
      @include flex-center();
      justify-content: center;
      background: transparent;
      border: 1px solid $cyan-color-500;
      color: $cyan-color-500;
      font-size: 1.5rem;
      width: 345px;
      transition: 0.3s;
      text-decoration: none;

      span {
        margin-left: 2rem;
      }

      &:hover {
        background-color: $cyan-color-500;
        color: $white-color;
      }
    }
  }

  .avatar {
    position: absolute;
    bottom: 10%;
    right: 2rem;
    height: 600px;
  }

  .gear {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .mini-gear {
    position: absolute;
    top: 10%;
    right: 0;
  }
}

@media (max-width: 980px) {
  .img-background {
    height: 100vh;
    background-position: 80%;
  }
  .section-trafego {
    padding: 4rem 2rem 0;
    height: 600px;

    .gear,
    .mini-gear {
      display: none;
    }

    &__description {
      width: 100%;

      h1 {
        font-size: 3.125rem;
        line-height: 52px;
      }

      h3 {
        font-size: 20px;
      }

      p {
        font-size: 16px;
      }

      .btn-vamos-comecar {
        width: 240px;
        height: 44px;
        font-size: 20px;
      }
    }

    .avatar {
      height: 220px;
      bottom: 0;
      z-index: -1;
    }
  }
}
