.section-quem-somos {
  @include container();
  @include flex-center();
  justify-content: space-between;
  position: relative;

  div {
    width: 50%;
    @include flex-center();
    align-items: flex-start;
    gap: 1rem;
    flex-direction: column;

    h1 {
      @include title(h1);
      line-height: 100px;
      @include flex-center();
      justify-content: space-between;
      align-items: flex-end;
      gap: 2rem;

      & > i {
        font-size: 3rem;
        font-weight: 900;
        margin-bottom: 1rem;
      }
    }

    p {
      @include title(p);
      color: $white-color;
      width: 80%;
      max-width: 600px;
    }

    a {
      @include button();
      border: 1px solid $cyan-color-500;
      color: $cyan-color-500;
      text-decoration: none;
      width: 60%;
      max-width: 345px;
    }
  }

  img {
    width: 50%;
  }
}

@media(max-width: 980px) {
  .section-quem-somos {
    flex-direction: column;
    height: 700px;
    div {
      width: 100%;
      h1 {
        line-height: 50px;
        justify-content: flex-start;
        i {
          margin-bottom: 0;
        }
      }

      a {
        height: 44px;
      }
    }

    img {
      position: absolute;
      bottom: 0;
      left: -120px;
      width: 100%;
      max-width: 420px;
    }
  }
}
