.section-quem-somos {
  @include container();
  @include flex-center();
  align-items: flex-start;
  justify-content: space-between;
  position: relative;

  div {
    width: 50%;
    @include flex-center();
    align-items: flex-start;
    gap: 1rem;
    flex-direction: column;

    h1 {
      @include title(h1);
      line-height: 100px;
      @include flex-center();
      justify-content: space-between;
      align-items: flex-end;
      gap: 2rem;

      & > i {
        font-size: 3rem;
        font-weight: 900;
        margin-bottom: 1rem;
      }
    }

    p {
      @include title(p);
      color: $white-color;
      width: 80%;
      max-width: 600px;
    }

    a {
      @include button();
      border: 1px solid $cyan-color-500;
      color: $cyan-color-500;
      text-decoration: none;
      width: 60%;
      max-width: 345px;

      &:hover {
        background: $cyan-color-500;
        color: $white-color;
      }
    }
  }

  img {
    width: 50%;
  }
}

.section-nossa-historia {
  margin-top: 5rem;
  @include flex-center();
  align-items: flex-start;
  flex-direction: column;
  @include container();
  position: relative;

  &__description {
    position: relative;
    padding-left: 2rem;
    width: 40%;

    .linha {
      @include flex-center();
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      left: 0;
      padding-top: 6rem;
      height: 73%;
      width: 3px;
      background-color: $pink-color-500;
    }

    h2 {
      @include title(h3);
    }

    p {
      @include title(p);
      margin: 2rem 0;

      i {
        position: absolute;
        left: -11px;
        font-size: 24px;
        color: $pink-color-500;
      }

      &:last-child i {
        color: $cyan-color-500;
      }
    }
  }

  nav {
    position: absolute;
    top: 0;

    ul {
      @include flex-center();
      gap: 1rem;
      list-style: none;

      li {
        font-size: 24px;
        color: darken($gray-color-100, 5%);

        a {
          color: darken($gray-color-100, 5%);
          text-decoration: none;
          &.active {
            color: $black-color;
          }
        }
      }
    }
  }

  img {
    position: absolute;
    right: 0;
    width: 50%;
    object-fit: contain;
    max-height: 600px;

    @media (max-width: 420px) {
      width: 60%;
    }
  }

  &__principios {
    @include flex-center();
    justify-content: space-between;
    margin-top: 4rem;
    width: 90%;

    section {
      @include flex-center();
      align-items: flex-start;
      flex-direction: column;
      gap: 1rem;
      padding: 3rem 3rem 3rem 3rem;
      margin: 1rem 0;
      min-height: 300px;
      max-width: 420px;
      flex-basis: 30%;
      border-radius: 13px;
      border-left: 17px solid $pink-color-500;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

      h3 {
        @include title(h3);
      }
    }
  }
}

.section-acreditamos-pessoas {
  @include container();
  @include flex-center();
  justify-content: space-between;
  padding-right: 8rem;
  background-color: $gray-color-900;
  position: relative;

  img {
    position: absolute;
    left: -25px;
  }

  &__description {
    width: 60%;

    h2 {
      font-size: 40px;
      color: $cyan-color-500;
    }

    p {
      font-size: 24px;
      color: $white-color;
    }
  }

  button {
    @include button();
    background-color: $cyan-color-500;
    width: 25%;
    border: none;
  }
}

.section-empresas-atendidas {
  @include container();
  @include flex-center();
  justify-content: space-between;

  &__description {
    @include flex-center();
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    gap: 2rem;

    h2 {
      @include title(h3);
      padding-left: 2rem;
      border-left: 3px solid $pink-color-500;
    }

    p {
      padding-left: 2rem;
      @include title(p);
    }

    a {
      @include button();
      background-color: $cyan-color-500;
      text-decoration: none;
      color: $black-color;
      margin-left: 2rem;
      width: 60%;
    }
  }

  img {
    width: 45%;
  }
}

.section-depoimentos {
  @include container();

  h2 {
    @include title(h3);
    padding-left: 2rem;
    border-left: 3px solid $pink-color-500;
  }

  .swiper {
    position: relative;
    padding: 0 3rem 0 7rem;
    margin-top: 2rem;
    width: 90%;

    .swiper-slide {
      background-color: $gray-color-900;
      padding: 2rem 2rem 2rem 6rem;
      border-radius: 20px;

      div {
        @include flex-center();
        justify-content: center;
        height: 100px;
        width: 100px;
        border-radius: 50px;
        background-color: $white-color;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }

      h3 {
        @include title(h3);
        color: $white-color;
      }

      p {
        margin-top: 1rem;
        position: relative;
        color: $white-color;

        i {
          position: absolute;
          left: -35px;
          font-size: 2rem;
          color: $cyan-color-500;
        }
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      background: transparent;
      color: $pink-color-500;
      border: none;
    }

    @media (max-width: 980px) {
      padding: 0;

      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
    }
  }
}

.section-selos {
  @include container();

  h2 {
    @include title(h3);
    padding-left: 2rem;
    border-left: 3px solid $pink-color-500;
  }

  &__certificados {
    @include flex-center();
    justify-content: space-between;
    width: 95%;
    flex-wrap: wrap;

    @media(max-width: 500px) {
      justify-content: center;
    }

    div {
      @include flex-center();
      justify-content: center;
      height: 100px;
      width: 217px;
      margin: 1rem 0;
      background-color: $white-color;
      border-radius: 20px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    }
  }
}

@media (max-width: 980px) {
  .section-quem-somos {
    flex-direction: column;
    height: 750px;
    padding: 1rem 1rem 0 1rem;
    div {
      width: 100%;
      h1 {
        line-height: 60px;
        justify-content: flex-start;
        i {
          margin-bottom: 0;
        }
      }

      a {
        height: 44px;
      }
    }

    img {
      position: absolute;
      bottom: 0;
      left: -120px;
      width: 100%;
      max-width: 420px;
    }
  }

  .section-nossa-historia {
    margin-top: 0;
    padding-top: 8rem;

    &__description {
      width: 100%;

      p {
        font-size: 1rem;
        i {
          left: -10px;
        }
      }
    }

    img {
      max-height: 243px;
      top: -15%;
    }

    nav {
      top: 5rem;

      ul li {
        font-size: 1rem;
      }
    }

    &__principios {
      width: 100%;
      flex-direction: column;

      section {
        min-height: 230px;
      }
    }
  }

  .section-acreditamos-pessoas {
    flex-direction: column;
    gap: 2rem;

    &__description {
      padding: 1.5rem;
      width: 100%;
    }

    button {
      width: 100%;
      max-width: 400px;
    }

    img {
      height: 120px;
    }
  }

  .section-empresas-atendidas {
    flex-direction: column;
    gap: 2rem;

    &__description {
      width: 100%;
      padding-right: 2rem;

      a {
        width: 100%;
        max-width: 400px;
      }
    }

    img {
      width: 100%;
      max-width: 400px;
    }
  }
}
