.section-consultoria-seo {
  @include flex-center();
  align-items: flex-start;
  @include container-first();
  position: relative;

  div {
    @include flex-center();
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    width: 50%;

    h1 {
      @include title(h1);
      line-height: 100px;
    }

    p {
      @include title(p);
      color: $white-color;
      width: 80%;
    }

    button {
      @include button();
      background-color: transparent;
      border: 1px solid $cyan-color-500;
      color: $cyan-color-500;
      width: 70%;
      max-width: 400px;

      &:hover {
        background-color: $cyan-color-500;
        color: $white-color;
      }
    }
  }

  img {
    position: absolute;
    right: 5%;
    top: 15%;
    width: 45%;
    height: auto;
    object-fit: contain;
    
    @media(max-width: 1400px) {
      width: 40%;
      right: 0;
    }
  }
}

.section-como-funciona {
  @include container();
  padding-right: 6rem;
  @include flex-center();
  justify-content: space-between;
  position: relative;

  div {
    @include flex-center();
    flex-direction: column;
    gap: 2rem;
    width: 40%;
    height: 100%;

    h2 {
      @include title(h3);
      border-left: 3px solid $pink-color-500;
      padding-left: 2rem;
    }
    p {
      @include title(p);
      padding-left: 2rem;
    }
  }

  

  img {
    width: 50%;
    max-width: 600px;
  }
}

.section-beneficios {
  @include flex-center();
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem 5rem;
  gap: 3rem;
  background-color: $gray-color-900;

  div {
    width: 550px;  
    height: 350px;
    padding: 3rem;
    border: 1px solid $gray-color-100;
    border-radius: 16px;

    span {
      @include title(h3);
    }

    p {
      @include title(p);
      color: $gray-color-500;
      margin-top: 2rem;
    }
  }
}

@media(max-width: 1200px) {
  .section-consultoria-seo {
    flex-direction: column;
    align-items: center;
    height: 150vh;
    max-height: 800px;

    div {
      width: 100%;

      h1 {
        line-height: 50px;
      }
    }

    img {
      width: auto;
      height: 50%;
      top: initial;
      right: 0;
      bottom: 0;
    }
  }

  .section-como-funciona {
    div {
      width: 90%;
    }
    img {
      display: none;
    }
  }
}