.section-habilidades {
  @include flex-center();
  align-items: flex-start;
  @include container-first();
  position: relative;

  div {
    @include flex-center();
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    width: 50%;

    h1 {
      @include title(h1);
    }

    p {
      @include title(p);
      color: $white-color;
      width: 80%;
    }

    button {
      @include button();
      background-color: transparent;
      border: 1px solid $cyan-color-500;
      color: $cyan-color-500;
      width: 70%;
      max-width: 400px;

      &:hover {
        background-color: $cyan-color-500;
        color: $white-color;
      }
    }
  }

  img {
    position: absolute;
    right: 5%;
    top: 10%;
    width: 40%;
    max-width: 600px;
    height: auto;

    @media (max-width: 1400px) {
      width: 40%;
      right: 0;
    }
  }
}

.section-seo-ecommerce {
  @include container();
  padding-right: 6rem;
  @include flex-center();
  justify-content: space-between;
  position: relative;

  div {
    @include flex-center();
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    width: 50%;
    height: 100%;

    h2 {
      @include title(h3);
      border-left: 3px solid $pink-color-500;
      padding-left: 2rem;
    }
    p {
      @include title(p);
      padding-left: 2rem;
    }
  }

  img {
    width: 30%;
    max-width: 600px;
  }
}

.section-estrategia-seo-para-ecommerce {
  @include container();
  @include flex-center();
  padding-right: 4rem;
  align-items: center;
  justify-content: space-between;

  div {
    @include flex-center();
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    width: 50%;

    h2 {
      @include title(h3);
      border-left: 3px solid $pink-color-500;
      padding-left: 2rem;
    }

    p {
      @include title(p);
      width: 100%;
      padding-left: 2rem;
    }

    button {
      @include button();
      background-color: $cyan-color-500;
      border: none;
      width: 60%;
      max-width: 460px;
      margin-left: 2rem;

      &:hover {
        background-color: lighten($cyan-color-500, 5%);
        color: $white-color;
      }
    }
  }

  img {
    width: 40%;
    height: auto;
  }
}

@media (max-width: 1200px) {
  .section-habilidades {
    flex-direction: column;
    align-items: center;
    height: 150vh;
    max-height: 800px;

    div {
      width: 100%;

      h1 {
        font-size: 40px;
      }
    }

    img {
      width: auto;
      height: 40%;
      right: -30px;
      top: initial;
      bottom: -50px;
    }
  }

  .section-seo-ecommerce {
    div {
      width: 90%;

      p {
        width: 100%;
      }
    }
    img {
      display: none;
    }
  }

  .section-estrategia-seo-para-ecommerce {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      width: 100%;

      div {
        width: 100%;

        p {
          width: 80%;
        }

        button {
          width: 80%;
        }
      }

      img {
        width: 70%;

        @media(max-width: 680px){
          width: 100%;
        }
      }
    }
  }

