.section-marketing-conteudo {
  @include flex-center();
  align-items: flex-start;
  @include container-first();
  position: relative;

  div {
    @include flex-center();
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    width: 50%;

    h1 {
      @include title(h1);
    }

    p {
      @include title(p);
      color: $white-color;
      width: 80%;
    }

    button {
      @include button();
      background-color: transparent;
      border: 1px solid $cyan-color-500;
      color: $cyan-color-500;
      width: 70%;
      max-width: 400px;

      &:hover {
        background-color: $cyan-color-500;
        color: $white-color;
      }
    }
  }

  img {
    position: absolute;
    right: 5%;
    top: 1rem;
    width: 35%;
    max-width: 600px;
    height: auto;
  }
}

.section-o-que-e-marketing {
  @include container();
  padding-top: 6rem;
  @include flex-center();
  justify-content: space-between;
  position: relative;

  div {
    @include flex-center();
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    width: 50%;
    height: 100%;

    h2 {
      @include title(h3);
      border-left: 3px solid $pink-color-500;
      padding-left: 2rem;
      width: 80%;
    }
    p {
      @include title(p);
      padding-left: 2rem;

    }
  }

  img {
    width: 30%;
    max-width: 600px;
  }
}

.section-guia {
  @include container();
  @include flex-center();
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: $gray-color-900;

  div {
    width: 400px;  
    height: 350px;
    padding: 1rem;
    border: 1px solid $gray-color-100;
    border-radius: 16px;

    span {
      @include title(h3);
    }

    p {
      @include title(p);
      color: $gray-color-500;
      margin-top: 2rem;
    }
  }
}