.section-seo-local {
  @include flex-center();
  align-items: flex-start;
  @include container();
  position: relative;

  div {
    @include flex-center();
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    width: 50%;

    h1 {
      @include title(h1);
      line-height: 100px;
      width: 60%
    }

    p {
      @include title(p);
      color: $white-color;
      width: 80%;
    }

    button {
      @include button();
      background-color: transparent;
      border: 1px solid $cyan-color-500;
      color: $cyan-color-500;
      width: 70%;
      max-width: 400px;

      &:hover {
        background-color: $cyan-color-500;
        color: $white-color;
      }
    }
  }

  img {
    position: absolute;
    right: 3%;
    top: 2rem;
    width: 50%;
    height: auto;
    object-fit: contain;
  }
}

.section-geolocalizacao {
  @include container();
  padding-top: 8rem;
  padding-right: 6rem;
  @include flex-center();
  justify-content: space-between;
  position: relative;

  div {
    @include flex-center();
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    height: 100%;

    &:first-child {
      padding-top: 2rem;
      width: 40%;
    }

    &:last-child {
      width: 56%;
    }

    nav {
      align-self: flex-start;

      ul {
        @include flex-center();
        gap: 1rem;
        list-style: none;

        li {
          font-size: 24px;
          color: darken($gray-color-100, 5%);

          a {
            color: darken($gray-color-100, 5%);
            text-decoration: none;
            &.active {
              color: $black-color;
            }
          }
        }
      }
    }

    h2 {
      @include title(h3);
      border-left: 3px solid $pink-color-500;
      padding-left: 2rem;
    }
    p {
      @include title(p);
      padding-left: 2rem;
      width: 100%;
    }

    img {
      width: 60%;
      max-width: 600px;
      
    }

    button {
      @include button();
      background-color: $cyan-color-500;
      border: none;
      width: 60%;
      max-width: 460px;
      margin-left: 2rem;

      &:hover {
        background-color: lighten($cyan-color-500, 5%);
        color: $white-color;
      }
    }
  }

}

@media (max-width: 1200px) {
  .section-seo-local {
    flex-direction: column;
    align-items: center;
    height: 80vh;
    max-height: 800px;
    overflow: hidden;

    div {
      width: 80%;

      h1 {
        // font-size: 50px;
        line-height: 50px;

        width: 100%;
      }
      
      button {
        width: 100%;
      }
    }

    img {
      display: none;
      // width: auto;
      // height: 35%;
      // top: initial;
      // right: -80px;
      // bottom: 0;
    }
  }

  .section-geolocalizacao {
    flex-direction: column;
    gap: 2rem;

    div {
      width: 100%;

      &:first-child {
        width: 100%;
      }

      &:last-child {
        width: 100%;
      }

      nav ul li {
        font-size: 1rem;
      }

      p {
        width: 100%;
      }

      button {
        width: 80%;
      }
    }
    img {
      display: none;
    }
  }
}
