.section-cards-relacionados {
  @include container();
  @include flex-center();
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  background-color: $gray-color-100;

  h2 {
    @include title(h2);
    width: 100%;
    text-align: center;
    line-height: 100px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 600px;
    border: $gray-color-500 solid 1px;
    background-color: $white-color;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .description {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;

      h3 {
        font-size: 1.5rem;
        text-transform: uppercase;
        color: $pink-color-500;
        font-weight: 900;
      }

      p {
        @include title(p);
      }

      a {
        @include button();
        background-color: $cyan-color-500;
        text-decoration: none;
        color: $black-color;
        border: none;

        &:hover {
          background-color: lighten($cyan-color-500, 5%);
          color: $white-color;
        }
      }
    }

  }
}

@media(max-width: 980px) {
  .section-cards-relacionados {
    justify-content: center;
  }
}