.site-header {
  @include flex-center();
  padding: 0 10rem;
  height: 167px;
  justify-content: space-between;
  background-color: $gray-color-900;
  position: relative;

  &:after {
    @include home-background();
  }

  &__nav {
    @include flex-center();
    justify-content: space-between;
    gap: 10%;
    width: calc(100% - 9rem);
    height: 100%;
    max-width: 1500px;

    ul {
      display: flex;
      justify-content: space-around;
      font-size: 0.81rem;
      list-style: none;
      width: 100%;
      margin: 0;
      padding: 0;

      li {
        a {
          @include flex-center();
          gap: 0.5rem;
          text-decoration: none;
          color: $white-color;
          font-weight: 500;
          transition: color 0.2s ease;
          padding: 1rem 0;

          &:hover {
            color: $pink-color-500;
          }
        }

        &.has-submenu {
          position: relative;

          .arrow-submenu {
            @include flex-center();
            justify-content: center;
            font-weight: 900;
          }

          &:hover .arrow-submenu {
            transform: rotate(90deg);
          }

          .submenu {
            display: none;
            position: absolute;
            top: 100%;
            // left: 0;
            width: 244px;
            padding: 39px 24px;

            background-color: $white-color;
            border-radius: 0 20px 20px 20px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            z-index: 1;

            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 30%;
              border: 2px solid $cyan-color-500;
              box-sizing: border-box;
            }

            li {
              a {
                color: $black-color;
                font-weight: 900;

                &:hover {
                  color: $pink-color-500;
                }
              }
              margin: 0;
            }
          }

          &:hover .submenu {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 31px;
          }
        }
      }
    }
  }
  .search-container {
    position: relative;
    width: 40px;
    height: 32px;
    border-radius: 20px;
    background-color: $black-color;
    transition: width 0.2s ease-in-out;

    &.focus {
      width: 9rem;
    }

    input[type="text"] {
      width: 100%;
      height: 100%;
      color: $pink-color-500;
      padding: 0.31rem 1.875rem 0.31rem 1.6rem;
      border: none;
      background-color: transparent;
      transition: width 0.3s ease-in-out;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $pink-color-500;
      }
    }

    img {
      position: absolute;
      top: 5px;
      right: 8px;
      font-size: 1.25rem;
      cursor: pointer;
    }
  }

  .hamburger-menu {
    display: none;
  }

  @media (max-width: 1500px) {
    height: 127px;
    padding: 0 5%;

    &__nav {
      gap: 5%;
    }

    &__logo img {
      width: 188px;
    }
  }

  @media (max-width: 980px) {
    padding: 0 2%;

    &__nav {
      flex-direction: row-reverse;
      gap: 0;
      width: 100%;
    }

    &__logo {
      width: 100%;
      min-width: 250px;
      padding-right: 50px;
      @include flex-center();
      justify-content: center;
    }

    .search-container {
      position: absolute;
      right: 5%;
    }

    &__nav ul {
      display: none;
      position: absolute;
      padding: 30% 30px;
      flex-direction: column;
      top: 0%;
      left: 0;
      width: 70vw;
      background-color: $white-color;
      border-radius: 0 20px 20px 20px;

      @keyframes menu {
        0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(0%);
        }
      }

      li {
        a {
          color: $black-color;
          font-weight: 900;
        }
      }

      &.navbar--open {
        display: block;
        animation-name: menu;
        animation-duration: 0.4s;
        li .submenu {
          width: 100%;
        }
      }
    }
    
    .hamburger-menu {
      position: relative;
      display: flex;
      align-items: flex-start;
      gap: 7px;
      flex-direction: column;
      height: 46px;
      color: $white-color;
      cursor: pointer;
      
      &::after {
        content: "menu";
      }
      
      &.active {
        width: 70px;
        align-items: center;
        flex-direction: row;
        position: absolute;
        left: 3%;

        &::after {
          position: absolute;
          color: $black-color;
          right: 0;
          content: "fechar";
        }

        .hamburger-menu__line:nth-child(1) {
          position: absolute;
          transform: rotate(50deg);
          transition: all 0.4s;

          width: 20px;
          background-color: $black-color;
        }
        .hamburger-menu__line:nth-child(2) {
          opacity: 0;
        }
        .hamburger-menu__line:nth-child(3) {
          position: absolute;
          transform: rotate(-50deg);
          transition: all 0.4s;

          width: 20px;

          background-color: $black-color;
        }
      }
    }

    .hamburger-menu__line {
      background-color: $white-color;
      height: 2px;
      width: 30px;

      &:nth-child(2) {
        width: 25px;
      }
    }
  }
}
