.section-abordagem {
  padding-right: 0;
  padding-bottom: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;

  &__background {
    position: absolute;
    left: 0;
    width: 100%;
    height: 70%;
    background-color: $pink-color-500;
    z-index: -1;
  }

  & > img {
    position: absolute;
    top: 0;
    left: 0;

    height: 230px;
  }

  &__description {
    @include container();
    margin-bottom: 0;
    @include title(h2);
    @include flex-center();
    color: $white-color;
    height: 240px;

    span {
      font-weight: 100;
    }
  }

  .swiper {
    display: flex;
    align-items: center;
    @include container();
    padding-right: 2rem !important;
    width: 100%;

    .swiper-slide {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 2rem;
      text-align: center;
      height: max-content;
      min-height: 340px;
      max-width: 28rem;
      background: $white-color;
      border-radius: 65px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      padding: 70px 25px 10px;
      cursor: grab;

      .icone {
        @include flex-center();
        justify-content: center;
        position: absolute;
        top: -20px;
        width: 5rem;
        height: 5rem;
        border-radius: 50px;
        background-color: $cyan-color-500;

        img {
          height: 2.5rem;
          width: 2.5rem;
        }
      }

      h3 {
        font-size: 1.3rem;
        font-weight: 900;
        line-height: 25px;
        height: 30px;
        text-transform: uppercase;
      }

      p {
        font-size: 1rem;
      }

      .btn-ler-mais {
        display: none;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: none;
    background-color: $black-color;
    color: $white-color;
    opacity: 0.9;
  }

  .swiper-pagination-bullet {
    width: 20px;
    border-radius: 5px;
  }

  .swiper-pagination-bullet-active {
    background: $pink-color-500;
    width: 40px;
    border-radius: 5px;
  }
}

@media (max-width: 980px) {
  .section-abordagem {
    .texto1,
    .texto2,
    .texto3,
    .texto4 {
      @include text-ocult();
    }

    &__description {
      font-size: 2.5rem;
      margin-left: 80px;
    }

    & > img {
      left: -45px;
    }

    .swiper {
      padding: 2rem 4rem 4rem 2rem;

      .swiper-slide {
        padding: 70px 20px 10px;

        .icone {
          width: 5.71rem;
          height: 5.71rem;

          img {
            height: 2.5rem;
            width: 2.5rem;
          }
        }
      }

      .swiper-button-next,
      .swiper-button-prev {
        display: none;
      }
    }

    .btn-ler-mais {
      display: block !important;
      background: transparent;
      color: $pink-color-500;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;

      &::after {
        content: "Ler mais";
        font-size: 1rem;
        font-weight: 400;
      }

      &.focus {
        &::after {
          content: "Ler menos";
        }
      }
    }
  }
}
