.section-falam-sobre-nos {
  @include container-first();
  @include flex-center();
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;

  h1 {
    @include title(h1);
    width: 90%;
  }

  p {
    @include title(p);
    color: $white-color;
    width: 50%;
  }

  button {
    display: none;
  }
}

.section-banner-cliente {
  @include container();
  margin-top: 10rem;

  div {
    background-image: url(/assets/clientes/banner-cliente-celebrando.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 65%;
    height: 400px;
    width: 100%;
    position: relative;
    margin-top: 3rem;
    border-radius: 50px;
    transition: 0.3s;

    &:hover {
      transform: scale(1.01)
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: rgb(167, 3, 52), $alpha: 0.5);
      border-radius: 50px;
    }

    img {
      position: absolute;
      top: -30px;
      left: 5%;
      width: 20%;
      // transform: translate(0, -50%);
    }

    p {
      @include title(h3);
      color: $white-color;
      position: absolute;
      width: 80%;
      left: 5%;
      top: 60%;
      transform: translate(0, -50%);
    }
  }
}

.section-empresas-slider {
  background-color: $gray-color-100;
  margin-top: 0;
  @include container();
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 300px;
  align-items: center;
  position: relative;

  & > img {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: -80px;
    height: 400px;
  }

  h2 {
    position: relative;
    @include title(h3);
  }

  .mySwiper {
    width: 100%;
    align-self: flex-start;
    padding: 0 3rem;

    .swiper-slide {
      @include flex-center();
      justify-content: center;
      height: 50px;

      img {
        object-fit: contain;
        height: 100%;
        transition: 0.3s;

        &:hover {
          transform: scale(1.03)
        }
      }
    }

    & > button {
      background: transparent;
      border: none;
      color: $pink-color-500;

      &::after {
        font-weight: 900;
        font-size: 2rem;
      }
    }
  }
}

.section-sua-estrategia {
  @include container();
  @include cards();
  @include flex-center();
  justify-content: space-between;
  position: relative;
  padding-right: 8rem;

  img {
    width: 40%;
  }

  h2 {
    @include title(h2);
  }

  &__description {
    padding: 4rem 4rem 4rem 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 70%;

    p {
      font-size: $font-size-p;
    }

    button {
      @include button();
      background-color: $cyan-color-500;
      border: none;
      width: 60%;
      max-width: 460px;

      &:hover {
        background-color: lighten($cyan-color-500, 5%);
        color: $white-color;
      }
    }
  }
}

@media (max-width: 1200px) {
  .section-sua-estrategia {
    flex-direction: column;

    &__description {
      width: 100%;
    }

    img {
      width: 80%;
    }
  }
}

@media (max-width: 980px) {
  .section-falam-sobre-nos {

    p {
      width: 90%;
    }

    button {
      @include button();
      background: transparent;
      border: 1px solid $cyan-color-500;
      color: $cyan-color-500;
      width: 20rem;
      transition: 0.3s;
      text-decoration: none;

      &:hover {
        background-color: $cyan-color-500;
        color: $white-color;
      }
    }
  }

  .section-banner-cliente {
    padding: 0;

    div {
      border-radius: 0;

      &::before {
        border-radius: 0;
      }
    }
  }

  .section-empresas-slider {
    h2 {
      margin-left: 4rem;
    }
    & > img {
      top: 30%;
      left: -130px;
    }
  }
}
