$cyan-color-500: #02eb9e;
$white-color: #ffffff;
$black-color: #000000;
$pink-color-500: #ea1d5d;
$gray-color-900: #24262a;
$gray-color-100: #e5e5e5;
$gray-color-500: #919191;

$font-size-h1: 6.5rem;
$font-size-h2: 5.625rem;
$font-size-h3: 2.5rem;
$font-size-h4: 1.5rem;

@mixin flex-center() {
  display: flex;
  align-items: center;
}

@mixin home-background(){
  content: "";
  position: absolute;
  background-image: url('/assets/header-background.png');
  background-position: center;
  background-size: cover;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  z-index: -1;
}

@import "components/header";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }
  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  background: $white-color;
  -webkit-font-smoothing: antialiased; //deixa as fontes do chrome mais detalhadas, mais nítidas.
  font-family: "Roboto", sans-serif;

  button {
    cursor: pointer;
  }
}

