$cyan-color-500: #02eb9e;
$yellow-color-500: #ffd740;
$white-color: #ffffff;
$black-color: #000000;
$pink-color-500: #ea1d5d;
$gray-color-100: #e1e1e1;
$gray-color-500: #919191;
$gray-color-900: #24262a;
$gray-color-header: #24262abb;


$font-size-h1: 5rem;
$font-size-h2: 3.5rem;
$font-size-h3: 2rem;
$font-size-p: 1rem;

@mixin flex-center() {
  display: flex;
  align-items: center;
}

@mixin text-ocult() {
  max-height: 7em;
  overflow: hidden;
  margin-bottom: 20px;

  &.active {
    max-height: none;
  }
}

@mixin title($type) {
  $font-size: null;

  @if $type == "h1" {
    $font-size: $font-size-h1;
    color: $pink-color-500;
    font-weight: 900;
    text-transform: uppercase;
    font-size: $font-size;
    line-height: 75px;
  } @else if $type == "h2" {
    $font-size: $font-size-h2;
    color: $pink-color-500;
    font-weight: 900;
    text-transform: uppercase;
    font-size: $font-size;
    line-height: 50px;
  } @else if $type == "h3" {
    $font-size: $font-size-h3;
    color: $pink-color-500;
    font-weight: 900;
    text-transform: uppercase;
    font-size: $font-size;
    line-height: 35px;
  } @else if $type == "p" {
    $font-size: $font-size-p;
    font-weight: 400;
    text-transform: none;
    color: $gray-color-900;
    font-size: $font-size;
  }

  @media (max-width: 980px) {
    @if $type == "h1" {
      font-size: calc($font-size / 2);
      line-height: 50px;
    } @else if $type == "p" {
      font-size: 1rem;
    } @else {
      font-size: calc($font-size / 1.5);
    }
  }
}

@mixin button() {
  @include flex-center();
  height: 3.5rem;
  border-radius: 16px;
  transition: 0.3s;
  justify-content: space-between;
  padding: 0 4%;
  font-size: 1.2rem;

  @media (max-width: 980px) {
    font-size: 1rem;
  }
}

@mixin input() {
  background: transparent;
  border: 1px solid $gray-color-100;
  padding: 20px;
  border-radius: 24px;
  text-transform: uppercase;
  color: $gray-color-100;

  @media (max-width: 380px) {
    padding: 15px;
  }
}

@mixin container() {
  padding: 2rem 15rem;
  margin-bottom: 5rem;

  @media (max-width: 1700px) {
    padding: 2rem 10rem;
  }

  @media (max-width: 980px) {
    padding: 2rem 1rem;
  }
}

@mixin container-first() {
  background-image: url("/assets/home/img-top.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;

  padding: 4rem 15rem 15rem;
  margin-bottom: 5rem;

  @media (max-width: 1700px) {
    padding: 4rem 10rem 10rem;
  }

  @media (max-width: 980px) {
    padding: 4rem 1rem 10rem;
    background-size: 190% 100%;
    background-position: center;
  }
}

@mixin cards() {
  .cards-box {
    position: relative;
    height: 35.75rem;
    min-width: 33.625rem;

    &__card {
      @include flex-center();
      justify-content: center;
      position: absolute;
      border-radius: 47px;

      &:first-child {
        background-color: $gray-color-900;
        height: 27.5rem;
        width: 27.5rem;
        right: 5%;
        bottom: 0;
        z-index: 1;

        span {
          font-size: 4rem;
          font-weight: 900;
          text-transform: uppercase;
          color: $pink-color-500;
          text-align: center;
        }

        button {
          position: absolute;
          right: 2rem;
          top: 2rem;
          @include flex-center();
          justify-content: center;
          width: 50px;
          height: 50px;
          border-radius: 60px;
          border: none;
          background-color: $white-color;

          i {
            font-size: 1.5rem;
            color: $pink-color-500;
          }
        }
      }

      &:nth-child(2) {
        height: 23.125rem;
        width: 23.125rem;
        top: 40%;
        transform: translate(0, -50%);

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba($color: rgb(255, 0, 76), $alpha: 0.5);
          border-radius: 30px;
        }
      }

      &:last-child {
        @include flex-center();
        justify-content: center;
        color: $gray-color-900;
        height: 21.875rem;
        width: 21.875rem;
        background-color: $pink-color-500;
        top: 0;
        right: 0;
        z-index: -1;

        span {
          font-size: 4rem;
          font-weight: 900;
          text-transform: uppercase;
          color: $gray-color-900;
        }

        button {
          position: absolute;
          right: 2rem;
          top: 2rem;
          align-self: flex-start;
          @include flex-center();
          justify-content: center;
          margin-left: auto;
          width: 50px;
          height: 50px;
          border-radius: 60px;
          border: none;
          background-color: $white-color;

          i {
            font-size: 1.5rem;
          }
        }
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 30px;
      }
    }
  }

  @media (max-width: 980px) {
    .cards-box {
      height: 25rem;
      min-width: 24rem;

      &__card {
        &:first-child {
          height: 15rem;
          width: 15rem;
          border-radius: 20px;

          span {
            font-size: 2rem;
          }

          button {
            width: 30px;
            height: 30px;
            right: 1rem;
            top: 1rem;

            i {
              font-size: 1.2rem;
            }
          }
        }
        &:nth-child(2) {
          height: 13rem;
          width: 13rem;

          &::before {
            border-radius: 15px;
          }
        }

        img {
          border-radius: 15px;
        }

        &:last-child {
          height: 12rem;
          width: 12rem;
          border-radius: 15px;

          span {
            font-size: 2rem;
          }

          button {
            width: 30px;
            height: 30px;
            right: 1rem;
            top: 1rem;

            i {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}

@import "components/header";
@import "components/footer";
@import "components/form";
@import "components/slider-abordagem";
@import "components/cards";
@import "components/nav-pages";
@import "components/icones-cards";
@import "components/cards-relacionados";

@import "pages/home";
@import "pages/quem-somos";
@import "pages/laudo-seo";
@import "pages/parceiros";
@import "pages/contato";
@import "pages/faq";
@import "pages/blog";
@import "pages/post";
@import "pages/pesquisa-post";
@import "pages/mapa-site";
@import "pages/materiais-ricos";
@import "pages/clientes/clientes-cases";
@import "pages/clientes/cliente2";
@import "pages/servicos/servicos";
@import "pages/servicos/consultoria-seo";
@import "pages/servicos/ecommerce-seo";
@import "pages/servicos/seo-local";
@import "pages/servicos/marketing-conteudo";
@import "pages/servicos/digital-pr";
@import "pages/servicos/seo-360";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
button,
input,
select,
textarea {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

@media (max-width: 1700px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: $gray-color-100;
  -webkit-font-smoothing: antialiased; //deixa as fontes do chrome mais detalhadas, mais nítidas.
  font-family: "Roboto", sans-serif;
  max-width: 1920px;
  margin: 0 auto;

  main {
    background: $white-color;
    position: relative;
    overflow: hidden;
    z-index: 0;
    padding-bottom: 15rem;
  }

  button {
    cursor: pointer;
  }
}
